<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{1} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${logFilePath:-logs}/${logFileName:-application}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${logFilePath:-logs}/${logFileName:-application}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>20MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<timestamp>
					<fieldName>Timestamp</fieldName>
					<pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZZ</pattern>
				</timestamp>
				<provider class="jorge.arada.Uuid">
					<fieldName>ActId</fieldName>
				</provider>
				<provider class="jorge.arada.MessagingLogsProvider">
				</provider>
				<logstashMarkers></logstashMarkers>
				<arguments></arguments>
				<!-- provides the fields in the configured pattern -->
				<pattern>
					<!-- the pattern that defines what to include -->
					<pattern>
						{
						"EventSeverity": "%level",
						"Thread": "%thread",
						"Logger": "%logger",
						"HostName": "${HOSTNAME}"
						}
					</pattern>
				</pattern>
			</providers>
		</encoder>
	</appender>
	<appender name="ASYNC" class="net.logstash.logback.appender.LoggingEventAsyncDisruptorAppender">
		<appender-ref ref="FILE" />
	</appender>



	<logger name="jorge.arada" level="DEBUG" >
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
